<html xmlns:th="http://www.thymeleaf.org">

<body>

<!--/*@thymesVar id="registration" type="com.springfirst.solutions.gym.commands.registration.RegistrationStateCommand"*/-->
<h1 th:text="${registration['isNew']} ? 'New registration' : 'Update existing registration'">
 New or Update
</h1>

<form th:object="${registration}" class="form-horizontal"
      method="POST"
      th:action="${registration['isNew']} ? '/register/new' : '/register/' +${registration.email} +'/update'">


    <div th:if="${#fields.hasErrors('*')}">
        <p>Please Correct Errors Below!!</p>
    </div>


    <input type="hidden" name="id" th:value="*{id}"/>
    <input type="hidden" name="isNew" th:value="${registration['isNew']} ?: 'false'" />

    <p><label for="email">Email:</label></p>
    <p><input type="text" id="email" th:field="*{email}" th:value="${registration.email}"/></p>
    <span class="help-block" th:if="${#fields.hasErrors('email')}">
        <ul>
            <li th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
        </ul>
    </span>

    <p><label for="password">Password:</label></p>
    <p><input type="password" id="password" th:field="*{password}" th:value="${registration.password}"/></p>
    <span class="help-block" th:if="${#fields.hasErrors('password')}">
        <ul>
            <li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
        </ul>
    </span>


    <button th:with="text=${registration['isNew']} ? 'Register' : 'Update registration'"
            type="submit" th:text="${text}">Save Registration
    </button>

</form>

</body>

</html>