<html xmlns:th="http://www.thymeleaf.org">

<body>

<!--/*@thymesVar id="trainer" type="com.springfirst.solutions.gym.commands.TrainerCommand"*/-->
<!--/*@thymesVar id="spec" type="com.springfirst.solutions.gym.commands.TrainerSpecialityCommand"*/-->
<!--/*@thymesVar id="specialities" type="List<com.springfirst.solutions.gym.commands.TrainerSpecialityCommand>"*/-->
<h1 th:text="${trainer['isNew']} ? 'New trainer' : 'Update existing trainer'">
 New or Update
</h1>

<form th:object="${trainer}" class="form-horizontal"
      method="POST"
      th:action="${trainer['isNew']} ? '/trainers/new' : '/trainers/' +${trainer.employeeID} +'/update'">


    <div th:if="${#fields.hasErrors('*')}">
        <p>Please Correct Errors Below!!</p>
    </div>


    <input type="hidden" name="id" th:value="*{id}"/>
    <p><label for="name">Name:</label></p>
    <p><input type="text" id="name" th:field="*{name}" th:value="${trainer.name}" /></p>
    <span class="help-block" th:if="${#fields.hasErrors('name')}">
        <ul>
            <li th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
        </ul>
    </span>

    <p><label for="telNo">Telephone:</label></p>
    <p><input type="text" id="telNo" th:field="*{telNo}" th:value="${trainer.telNo}"/></p>
    <span class="help-block" th:if="${#fields.hasErrors('telNo')}">
        <ul>
            <li th:each="err : ${#fields.errors('telNo')}" th:text="${err}"/>
        </ul>
    </span>

    <p><label for="employeeID">Employee ID:</label></p>
    <p><input type="text" id="employeeID" th:field="*{employeeID}" th:value="${trainer.employeeID}"/></p>
    <span class="help-block" th:if="${#fields.hasErrors('employeeID')}">
        <ul>
            <li th:each="err : ${#fields.errors('employeeID')}" th:text="${err}"/>
        </ul>
    </span>

    <p><label for="biography">Biography:</label></p>
    <p><textarea cols="50" rows="10" id="biography" th:field="*{biography}" th:value="${trainer.biography}"/></p>
    <span class="help-block" th:if="${#fields.hasErrors('biography')}">
        <ul>
            <li th:each="err : ${#fields.errors('biography')}" th:text="${err}"/>
        </ul>
    </span>


    <p><label for="specialities">Specialities:</label></p>
    <p><select th:name="specialities" id="specialities"
               th:field="*{trainerSpecialityCommandIDs}" multiple="multiple" th:size="${specialities.size()}">
        <option th:each="spec : ${specialities}" th:value="${spec.id}" th:text="${spec.description}"
                th:selected="${#lists.contains(trainer.trainerSpecialityCommandIDs, spec.id)}">
        </option>
    </select></p>

    <button th:with="text=${trainer['isNew']} ? 'Add Trainer' : 'Update Trainer'"
            type="submit" th:text="${text}">Save Trainer
    </button>

</form>

</body>

</html>