<html xmlns:th="http://www.thymeleaf.org">

<body>

<!--/*@thymesVar id="trainer" type="com.springfirst.solutions.gym.commands.TrainerCommand"*/-->
<!--/*@thymesVar id="trainerSpec" type="com.springfirst.solutions.gym.commands.TrainerSpecialityCommand"*/-->
<h1 th:text="${trainer['isNew']} ? 'New trainer' : 'Update existing trainer'">
 New or Update
</h1>

<form th:object="${trainer}" class="form-horizontal" method="post" action="/trainers/new">
    <input type="hidden" name="id" th:value="*{employeeID}"/>
    <p><label for="name">Name:</label></p>
    <p><input type="text" id="name" th:value="${trainer.name}" /></p>
    <p><label for="telNo">Telephone:</label></p>
    <p><input type="text" id="telNo" th:value="${trainer.telNo}"/></p>
    <p><label for="telNo">Biography:</label></p>
    <p><input type="text" id="biography" th:value="${trainer.biography}"/></p>
    <p><select th:field="*{percentage}">
        <option th:each="spec : ${numbers.sequence(0, 100)}" th:value="${i}" th:text="${i}">
        </option>
    </select></p>

    <!--  <input
              th:replace="~{fragments/selectField :: select ('Specialities', 'specialities', ${specialities})}" /> -->

    <button th:with="text=${trainer['isNew']} ? 'Add Trainer' : 'Update Trainer'"
            type="submit" th:text="${text}">Save Trainer
    </button>

</form>

</body>

</html>