<html xmlns:th="http://www.thymeleaf.org">

<body>

<!--/*@thymesVar id="trainer" type="com.springfirst.solutions.gym.commands.TrainerCommand"*/-->
<!--/*@thymesVar id="spec" type="com.springfirst.solutions.gym.commands.TrainerSpecialityCommand"*/-->
<!--/*@thymesVar id="specialities" type="List<com.springfirst.solutions.gym.commands.TrainerSpecialityCommand>"*/-->
<h1 th:text="${trainer['isNew']} ? 'New trainer' : 'Update existing trainer'">
 New or Update
</h1>

<form th:object="${trainer}" class="form-horizontal"
      th:method="${trainer['isNew']} ? 'post' : 'put'"
      th:action="${trainer['isNew']} ? '/trainers/new' : '/trainers/' +${trainer.employeeID} +'/update'">
    <input type="hidden" name="id" th:value="*{employeeID}"/>
    <p><label for="name">Name:</label></p>
    <p><input type="text" id="name" th:field="*{name}" th:value="${trainer.name}" /></p>
    <p><label for="telNo">Telephone:</label></p>
    <p><input type="text" id="telNo" th:field="*{telNo}" th:value="${trainer.telNo}"/></p>
    <p><label for="employeeID">Employee ID:</label></p>
    <p><input type="text" id="employeeID" th:field="*{employeeID}" th:value="${trainer.employeeID}"/></p>
    <p><label for="biography">Biography:</label></p>
    <p><input type="text" id="biography" th:field="*{biography}" th:value="${trainer.biography}"/></p>
    <p><label for="imagePath">Image path:</label></p>
    <p><input type="text" id="imagePath" th:field="*{imagePath}" th:value="${trainer.imagePath}"/></p>
    <p><label for="specialities">Specialities:</label></p>
    <p><select th:name="specialities" id="specialities" th:field="*{trainerSpecialityCommands}" multiple="multiple">
        <option th:each="spec : ${specialities}" th:value="${spec.id}" th:text="${spec.description}" th:selected="${#lists.contains(trainer.trainerSpecialityCommands.![id], spec.id)}">
        </option>
    </select></p>

    <div th:each="s : ${trainer.trainerSpecialityCommands}">
        <p th:text="${s.id} + ' / '  + ${s.description}">foo</p>
    </div>

    <button th:with="text=${trainer['isNew']} ? 'Add Trainer' : 'Update Trainer'"
            type="submit" th:text="${text}">Save Trainer
    </button>

</form>

</body>

</html>