<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of Trainers</title>
</head>
<body>
<!--/*@thymesVar id="trainer" type="com.springfirst.solutions.gym.commands.TrainerCommand"*/-->
<h2>Trainers</h2>

<table id="trainers" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Specialities</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trainer : ${trainers}">
        <td th:text="${trainer.name}">Name
        </td>
        <td><a th:href="@{'/trainers/' + ${trainer.getEmployeeID()}+ '/update'}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/trainers/new">Create new trainer</a>
</body>
</html>