<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>List of Trainers</title>
</head>
<body>
<!--/*@thymesVar id="trainer" type="com.springfirst.solutions.gym.commands.TrainerCommand"*/-->
<!--/*@thymesVar id="specialities" type="List<com.springfirst.solutions.gym.commands.TrainerSpecialityCommand>"*/-->
<h2>Trainers</h2>

<table id="trainers" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Biography</th>
        <th>Specialities</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trainer : ${trainers}">
        <td><a th:href="@{'/trainers/' + ${trainer.employeeID} +'/show'}"><p th:text="${trainer.name}">Name</p></a>
        </td>
        <td th:text="${trainer.telNo}">Contact</td>
        <td th:text="${trainer.biography}">About</td>
        <td th:each="s : ${specialities}">
                <p th:if="${trainer.trainerSpecialityCommandIDs.contains(s.id)}" th:text="${s.name}">spec</p>
        </td>
        <td><div sec:authorize="hasAuthority('trainer.update')"><a th:href="@{'/trainers/' + ${trainer.getEmployeeID()}+ '/update'}">Edit</a></div>
        </td>
    </tr>
    </tbody>
</table>

<p><a th:href="@{'/'}">Home</a></p> <p sec:authorize="hasAuthority('trainer.create')"> | <a href="/trainers/new">Create new trainer</a></p>
</body>
</html>