<html xmlns:th="http://www.thymeleaf.org">

<body>

<!--/*@thymesVar id="trainer" type="com.springfirst.solutions.gym.commands.TrainerCommand"*/-->
<!--/*@thymesVar id="spec" type="com.springfirst.solutions.gym.commands.TrainerSpecialityCommand"*/-->
<!--/*@thymesVar id="specialities" type="List<com.springfirst.solutions.gym.commands.TrainerSpecialityCommand>"*/-->
<h1 th:text="${trainer.name}">Trainer name
</h1>




    <p th:text="'Contact: ' + ${trainer.telNo}" /></p>
    <p th:text="'About: ' + ${trainer.biography}" /></p>

    <p th:if="${trainer.trainerSpecialityCommandIDs}" th:text="'Specialities: '"></p>
    <div th:each="s : ${specialities}">
        <p th:if="${trainer.trainerSpecialityCommandIDs.contains(s.id)}" th:text="${s.description}">spec</p>
    </div>

<form id="deleteForm"
      method="POST"
      th:action="@{'/trainers/' + ${trainer.employeeID} +'/delete'}">
    <input type="hidden" name="id" th:value="${trainer.employeeID}"/>
    <a href="#" onclick="document.getElementById('deleteForm').submit();">Delete</a>
</form>

<p><a th:href="@{'/trainers/' + ${trainer.employeeID}+ '/update'}">Edit</a> </p>

</body>

</html>