<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!--/*@thymesVar id="gym" type="com.springfirst.solutions.gym.commands.GymCommand"*/-->
<head>
    <meta charset="UTF-8">
    <title>Gym app home page</title>

    <h1 th:text="'Welcome to ' + ${gym.name} +'!'"> Welcome to the gym!</h1>

    <p th:if="${loginError}">Wrong username or password</p>
    <div sec:authorize="isAnonymous()">
        <form th:action="@{/login}" method="post">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" autocomplete="off" autofocus="true" />
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" autocomplete="off" autofocus="true" />
            <input type="submit" value="Sign in" />
        </form>
    </div>

    <div sec:authorize="isAuthenticated()">
        You are signed in as <span sec:authentication="name">Authenticated user name</span> <a th:href="@{/logout}"> (Sign out) </a>
    </div>

    <table>
        <tr>
            <td>
                <p th:text="${gym.gymInfo}">About the gym</p>
                <p th:text="'Join us at '+${gym.address.buildingIdentifier}+' '+${gym.address.street}+', '+  ${gym.address.city}+', '+${gym.address.county}">Address</p>
            </td>
        </tr>
        <tr>
            <td>
              <img th:src="@{/img/gym.jpg}" height="200px"/>
            </td>
            <td>
                <p><a href="/trainers/list">See our trainers</a></p>
                <p><a href="/register">Register</a></p>
                <p><a href="/classes">See the classes we have on offer</a></p>
                <p><a href="/members">Members</a></p>
            </td>
        </tr>
    </table>




</head>
<body>

</body>
</html>